.padding{
  padding: $padding;
}
.header{
  color: white;
  background-color: $color-secondary;
  @extend .padding;
}
.hero{
  @extend .padding;
  .form{

  }
  .input{
  }
  .button{
    width: 100%;
  }

}
