.padding{
  padding: $padding;
}
.header{
  color: white;
  background-color: $color-secondary;
  @extend .padding;
}
.hero{
  @extend .padding;
  .form{
  }
  .input{
  }
  .button{
    width: 100%;
  }
}
.doctors{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  width: $width;
  margin: auto;
  @extend .padding;
  .doctor{
    border-top: 1px solid lighten($color-secondary, 40%);
    margin-top: 2em;
    margin-bottom: 2em;
    @extend .padding;
    background-color: lighten($color-secondary, 54%);
    width: 100%;
    .info--personal{
      width: 40%;
      float: left;

      & > img{

        padding: $padding;
      }


    }
  }
  .info{
    width: 60%;
    float: right;
    span{
      display: block;
    }
    .info--contact{

      h2{
        text-transform: uppercase;
      }
    }
  }
}
